/* single status formatting */
.blip {
	clear: both;
	border-bottom: 1px solid #777;
	margin-bottom: 2px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.2,#eee),
		color-stop(0.8,#fff)
		);
	background-image: -webkit-linear-gradient(#EFEFEF 10%, white 50%);
}
.blip h3 {
	position: absolute;
}

.blip .user, .blip .recipient {
	font-size: 110%
}
.blip div {
	padding: 0.3em;
}

.blip .avatar_box {
	width: 60px;
	display: table-cell;
	text-align: center;
}
.blip .avatar_box .recipient_avatar {
	float: left;
	display: block;
	margin: -21px 32px 0 0;
	width: 32px;
	height: 32px;
}
.avatar_box img {
	border: 1px solid white;
	box-shadow: 1px 1px 5px #333;
}
.blip .body {
	display: table-cell;
	vertical-align: top;
	line-height: 1.4em
}
.blip .body .pic input[type="image"] {
	max-width: 50%;
	box-shadow: 1px 1px 5px #333;
	border-radius: 2px;
	margin: 1em auto;
	display: block;

}
.blip .body .location {
	display: inline;
}
.blip .body .location input[type="image"] {
	display: inline;
	vertical-align: middle;
	padding: 5px;
}
.blip .side{
	vertical-align: top;
	text-align: right;
	padding: 0;
	font-size: 90%;
}
.blip .side .actions {
	display: inline;
	vertical-align: top;
}
.blip .side .meta {
	display: inline;
	vertical-align: bottom;
	font-size: 80%;
}

.blip .side a {
	font-weight: normal;
}

.blip .created_at {
	display: block;
	float: left;
	margin-left: 5px;
}


.blip .actions input {
	width: 16px;
	height: 16px;
	border: none;
}
#quote {
	background: url('../quote_black_16.png') center center no-repeat;
}
#quoteMessage {
	background: url('../message_quote_black_16.png') center center no-repeat;
}
#message {
	background: url('../directed_black_16.png') center center no-repeat;
}
#delete {
	background: url('../remove_black_16.png') center center no-repeat;
}
.DirectedMessage .meta {
	background-image: url(../directed_black_16.png);
}
.PrivateMessage .meta {
	background-image: url(../private_black_16.png);
}